/*------------------------------------------------------------------------------
 * First file MUST be the variables file
 * -------------------------------------------------------------------------- */
@import 'modules/variables';
/*------------------------------------------------------------------------------
 * !Important: Copy the styles directory from MPress parent theme, and place here
 *  - styles/mpress
 * Import those styles directly into this file, so we only have to enqueue 1 file
 * -------------------------------------------------------------------------- */
@import 'mpress/public';
@import 'vendors/datatables';
@import 'modules/appbar';
@import 'modules/buttons';
@import 'modules/masthead';
@import 'modules/sidebar';
@import 'modules/footer';
@import 'modules/content';
@import 'modules/blog';
@import 'modules/typography';

body {
	// font-weight: 300;
	background: $secondary-color;
}


address.inline {
	display: inline;
}

.entry-content {
	font-size: 1rem;
	@include breakpoint( 'lg' ) {
		font-size: 1.1rem;
	}
}
#primary {
	position: relative;
}
.fixed-scroll-column {
	&.fixed {
		position: fixed;
	}
}

.box-container, #primary .widget {
	box-shadow: $box-shadow;
	margin-bottom: $gutter * 2;
	border-top: 3px solid $primary-color;
	background: #fff;
}

#primary .widget{
	padding:$gutter;
}

.nav-links {
	@include clearfix;
	margin-bottom: $gutter * 2;
	a, a:link {
		display: inline-block;
		background: $primary-color;
		color: #fff;
		padding: $gutter;
		box-shadow: $box-shadow;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:hover, &:focus {
			box-shadow: $hover-box-shadow;
		}
	}
	.nav-previous, .nav-next {
		width: 50%;
	}
	.nav-previous {
		float: left;
		text-align: left;
		padding-right: $gutter;
	}
	.nav-next {
		padding-left: $gutter;
		float: right;
		text-align: right;
	}
}

