/*------------------------------------------------------------------------------
 * First file MUST be the variables file
 * -------------------------------------------------------------------------- */
@import 'modules/variables';
/*------------------------------------------------------------------------------
 * !Important: Copy the styles directory from MPress parent theme, and place here
 *  - styles/mpress
 * Import those styles directly into this file, so we only have to enqueue 1 file
 * -------------------------------------------------------------------------- */
@import 'mpress/public';
@import 'vendors/datatables';
@import 'modules/appbar';
@import 'modules/buttons';
@import 'modules/masthead';
@import 'modules/sidebar';
@import 'modules/footer';
@import 'modules/content';

address.inline {
	display: inline;
}

.entry-content {
	font-size: 1rem;
	@include breakpoint( 'lg' ) {
		font-size: 1.3rem;
	}
}
#primary {
	position: relative;
}
.fixed-scroll-column {
	&.fixed {
		position: fixed;
	}
}

