section.content-block {
	.block-content {
		max-width: $view-width;
		margin: 0 auto;
	}
}

table.openings {
	// table-layout: fixed;
	font-size: .85rem;
	td {
		vertical-align: top;
	}
	thead {
		display: none;
	}
	tr {
		display: block;
		margin-bottom: 1.618rem;
	}
	td {
		margin-top: -1px;
		@include flexbox( 'row' );
		&:before {
			display: block;
			content: attr(class);
			text-transform: capitalize;
			margin-right: 1rem;
			min-width: 65px;
			max-width: 65px;
			font-weight: 600;
		}
		&:first-child {
			margin-top: 0;
		}
		&.register {
			a, a:link {
				// @extend button;
				// display: block;
			}
		}
		&.class {
			font-weight: 600;
		}
	}
	@include breakpoint( 'md' ) {
		thead {
			display: table-header-group;
		}
		tr {
			display: table-row;
		}
		td {
			display: table-cell;
			margin: 0;
			&.ages {
				white-space: nowrap;
			}
			&:before {
				content: '';
				display: none;
			}
		}
	}
}
.jackrabbit_table_wrapper {
	overflow-x: auto;
}

#menu-block{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    ul {
    	margin-bottom: 0;
    }
}


#events-and-testimonials{
	background:$secondary-color;
	padding: 100px 0;

	.card {
		background:white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		padding:50px;

		h2 {
			color:$greyDark;
		}

		li{
			color:$primary-color;
			font-size: 25px;
		}
	}

	h2{
		text-align: center;
	}
}


#about-us {
	padding: 100px 0;
}

#open-gym{
	padding: 100px 0;
}

#download-app-cta{
	padding:20px 0;
	background:$primary-color;
	color:white;

	.button {
		background:$greyDark;
	}
}

// .button {
// 	margin: 0 20px;
// 	width: 200px;
//     padding: 5px 0;
//     background:#ed2024;
//     color:#fff;
//     border:none;

//     &:hover, {
//     	background:darken(#ed2024, 10%);
//     	color:white;
//     }
// }