#colophon{
	background:$greyDark;
	text-align:center;

	ul li{
		display: inline-block;
	}

	span.icon {
	    font-size: 2em;
	    padding: 5px;
	}

	ul.social{
		margin-bottom: 0;
		li.facebook{
			a, a:link{

				color:$facebook-color;

				&:hover, &:focus{
					color:darken($facebook-color, 10%);
				}
			}
		}

		li.twitter{
			a, a:link{

				color:$twitter-color;

				&:hover, &:focus{
					color:darken($twitter-color, 10%);
				}
			}
		}

		li.googleplus{
			a, a:link{

				color:$googleplus-color;

				&:hover, &:focus{
					color:darken($googleplus-color, 10%);
				}
			}
		}
	}

	.custom-logo-link{
		max-width: 200px;
	}

	.margin-widget{
		margin-top: 10px;
		@include breakpoint( 'lg' ) {
			margin-bottom: 20px;
		}
	}

	.site-info {
    	margin-top: 40px;
	}
}


