#masthead {
	padding: $gutter * 2;
	// background: rgba( #000, .1 ); // Temporary style to see element during development
	// margin-bottom: 1.618rem;
	.site-branding {
		float: none;
		.custom-logo-link {
			display: block;
			max-width: 500px;
			margin: 0 auto;
		}

	}
}

.title-banner {
	background: rgba( #000, .1 );
	padding: $gutter;
	margin-bottom: $gutter * 2;
	h1, h2, .h1, .h2 {
		padding: 0;
		margin: 0;
	}
}

.top-banner {
	background: $primary-color;
	color: #000;
	text-align: center;
	padding: $gutter $gutter 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	a, a:link {
		color: #fff;
	}
	p {
		margin: 0;
	}
	.widget {
		display: block;
		min-width: 100%;
	}
	#secondary-navigation {
		.menu {
			padding: 0;
			li {
				display: inline-block;
				&:hover, &:focus{
					background:$redDark;
				}
			}
			a, a:link {
				padding: $gutter / 2;
			}
		}
	}
	@include breakpoint( 'sm' ) {
		text-align: left;
		padding: 0 $gutter;
		> .wrapper {
			@include flexbox( 'row' );
			align-items: center;
		}
		.widgets {
			flex: 1;
		}
		#secondary-navigation {
			float: right;
		}
	}
}