#masthead {
	padding: $gutter;
	background: rgba( #000, .1 ); // Temporary style to see element during development
	margin-bottom: 1.618rem;
	.site-branding {
		float: none;
		.custom-logo-link {
			display: block;
			max-width: 500px;
			margin: 0 auto;
		}

	}
}
.top-banner {
	border-bottom: 1px solid $border-color;
	text-align: center;
	padding: $gutter $gutter 0;
	p {
		margin: 0;
	}
	.widget {
		display: block;
		min-width: 100%;
	}
	#secondary-navigation {
		.menu {
			padding: 0;
			li {
				display: inline-block;
			}
			a, a:link {
				padding: $gutter / 2;
			}
		}
	}
	@include breakpoint( 'sm' ) {
		text-align: left;
		padding: 0 $gutter;
		> .wrapper {
			@include flexbox( 'row' );
			align-items: center;
		}
		.widgets {
			flex: 1;
		}
		#secondary-navigation {
			float: right;
		}
	}
}