#masthead {
	.top-banner {
		border-bottom: 1px solid $border-color;
		> .wrapper {
			@include flexbox( 'row' );
			align-items: center;
		}
		p {
			margin: 0;
		}
		.widgets {
			float: left;
			flex: 1;
		}
	}
	.site-branding {
		float: none;
		.custom-logo-link {
			display: block;
			max-width: 500px;
			margin: 0 auto;
		}

	}
	#secondary-navigation {
		float: right;
		.menu {
			padding: 0;
			li {
				display: inline-block;
			}
			a, a:link {
				padding: .404rem;
			}
		}
	}
}