@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?n138l1');
  src:  url('../../fonts/icomoon.eot?n138l1#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?n138l1') format('truetype'),
    url('../../fonts/icomoon.woff?n138l1') format('woff'),
    url('../../fonts/icomoon.svg?n138l1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before, li.about a:before {
  content: "\e900" !important;
}
.icon-balloons:before, li.parties a:before {
  content: "\e901" !important;
}
.icon-heartbeat:before, li.schedule a:before {
  content: "\e902" !important;
}
.icon-jumpingrope:before, li.events a:before {
  content: "\e903" !important;
}
.icon-LIFTING2:before, li.competition a:before {
  content: "\e904" !important;
}
.icon-phone:before, li.contact a:before {
  content: "\e942" !important;
}
.icon-yoga:before, li.classes a:before {
  content: "\e906" !important; 
}
